html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
/* overflow-x: hidden; */

}
/* *{
  outline:solid 2px #e22146 ;
} */

.hero-section {
  background-image: url(./images/background-img.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
width: 100%;
}

.hero-text {
  margin-top: 20% !important;
}

.span-heading1 {
  color: #0f51cc;
  font-weight: 700;
  font-size: 2rem;
}

.span-heading2 {
  color: black;
  font-weight: 600;
  font-size: 2rem;
}

.span-heading3 {
  color: black;
  font-weight: 600;
  font-size: 1.8rem;
}

.hero-section .logo {
  float: left;
  margin-left: 10%;
  animation: img 3s linear;
}

@keyframes img {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero-q {
  color: black;
  font-size: 1.5rem;
  /* font-weight: 400; */
  text-align: center !important;
}

.bobt {
  text-align: right;
  font-weight: bold;
  margin-bottom: 10%;
}

.hero-section .btn-container {
  text-align: center;
  /* z-index: 9999; */
  position: absolute;
  top: 80%;
  left: 15%;
}

.btn {
  background-color: #296ce8;
  color: white;
}

/* section 1 media quary */
@media only screen and (min-width: 1400px) {
  .hero-text {
    margin-top: 18% !important;
  }

  .hero-section .btn-container {
    top: 80% !important;
  }

  .hero-q {
    
    font-size: 1.2rem;
    text-align: center !important;
  }
}

@media only screen and (max-width:1400px) and (min-width:1351px) {
  .hero-text {
    margin-top: 18% !important;
  }

  .hero-section .btn-container {
    top: 80% !important;
  }
  .bobt{
  margin-bottom: 8%;}
  .hero-q{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:1351px) and (min-width:1300px) {
  .hero-text {
    margin-top: 18% !important;
  }

  .hero-section .btn-container {
    top: 80% !important;
  }

  .bobt{
  margin-bottom: 8%;}
  .span-heading3{
    font-size: 1.7rem;
  }
  .hero-q{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:1300px) and (min-width:1287px){
  .hero-text {
    margin-top: 18% !important;
  }
 
  .span-heading3{
    font-size: 1.4rem;
  }
  .hero-q{
    font-size: 1.1rem;
  }
}
@media only screen and (max-width:1287px) and (min-width:1200px){
  .hero-text {
    margin-top: 18% !important;
  }
 
  .span-heading3{
    font-size: 1.4rem;
    margin-top: -12% !important;
  }
  .hero-q{
    font-size: 1.1rem;
  }
  
  .hero-section .btn-container {
    top: 77% !important;
  }
}
@media only screen and (max-width:1200px) and (min-width:1100px){
  .hero-text {
    margin-top: 20% !important;
  }
 
  .span-heading3{
    font-size: 1.4rem;
    /* margin-top: -8% !important; */
  }
  .hero-q{
    font-size: 1.1rem;
  }
  
  .hero-section .btn-container {
    top: 72% !important;
  }
  .span-heading2{
    font-size: 1.5rem;
  }
  .span-heading1{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width:1100px) and (min-width:1000px){
  .hero-text {
    margin-top: 20% !important;
  }
 
  .span-heading3{
    font-size: 1.3rem;
    /* margin-top: -8% !important; */
  }
  .hero-q{
    font-size: 1rem;
  }
  
  .hero-section .btn-container {
    top: 70% !important;
  }
  .span-heading2{
    font-size: 1.5rem;
  }
  .span-heading1{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width:1000px) and (min-width:984px){
  .hero-text {
    margin-top: 20% !important;
  }
 .span-heading3{
    font-size: 1.2rem;
    /* margin-top: -8% !important; */
  }
  .hero-q{
    font-size: 1rem;
  }
  
  .hero-section .btn-container {
    top: 70% !important;
  }
  .span-heading2{
    font-size: 1.2rem;
  }
  .span-heading1{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:984px) and (min-width:900px){
  .hero-text {
    margin-top: 20% !important;
  }
 .span-heading3{
    font-size: 1.15rem;
    /* margin-top: -8% !important; */
  }
  .hero-q{
    font-size: 1rem;
  }
  
  .hero-section .btn-container {
    top: 65% !important;
  }
  .span-heading2{
    font-size: 1.2rem;
  }
  .span-heading1{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:900px) and (min-width: 800px){
  .hero-text {
    margin-top: 35% !important;
  }
 .span-heading3{
    font-size: 1rem;
   
  }
  .hero-q{
    font-size: 1rem;
  }
  
  .hero-section .btn-container {
    top: 83% !important;
  }
  .span-heading2{
    font-size: 1.2rem;
  }
  .span-heading1{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:800px) and (min-width: 700px){
  .hero-text {
    margin-top: 35% !important;
  }
 .span-heading3{
    font-size: 13px;
    font-weight: bold;
   margin-top: -10%;
  }
  .hero-q{
    font-size: 15px;
  }
  
  .hero-section .btn-container {
    top: 78% !important;
  }
  .span-heading2{
    font-size: 1.2rem;
  }
  .span-heading1{
    font-size: 1.2rem;
  }
  .bobt{
    margin-bottom: 15%;}
}
@media only screen and (max-width:700px) and (min-width: 600px){
  .hero-text {
    margin-top: 35% !important;
  }
 .span-heading3{
    font-size: 13px;
    font-weight: bold;
   margin-top: -10%;
  }
  .hero-q{
    font-size: 15px;
  }
  
  .hero-section .btn-container {
    top: 78% !important;
  }
  .span-heading2{
    font-size: 1rem;
  }
  .span-heading1{
    font-size: 1rem;
  }
  .bobt{
    margin-bottom: 15%;}
}
@media only screen and (max-width:600px) and (min-width: 563px){
  .hero-text {
    margin-top: 50% !important;
    width: 80% !important;
  }
 .span-heading3{
    font-size: 1.6rem;
    font-weight: bold;
 text-align: center;
  }
  .hero-q{
    font-size: 22px;
  }
  
  .hero-section .btn-container {
    top: 85% !important;
    margin-left: 25%;
  }
  .span-heading2{
    font-size: 2rem;
   
  }
  .span-heading1{
    font-size: 2rem;
   margin-left: 5%;
  }
  .bobt{
    margin-bottom: 10%;
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width:563px) and (min-width: 400px){
  .hero-text {
    margin-top: 50% !important;
    width: 80% !important;
  }
 .span-heading3{
    font-size: 1.6rem;
    font-weight: bold;

 margin-top: -10%;
  }
  .hero-q{
    font-size: 22px;
  }
  
  .hero-section .btn-container {
    top: 85% !important;
    margin-left: 25%;
  }
  .span-heading2{
    font-size: 1.8rem;
   
  }
  .span-heading1{
    font-size: 1.8rem;

  }
  .bobt{
    margin-bottom: 10%;
    font-size: 1.5rem !important;
  }
}

/* ==================================== section 2 =================================  */
.left-column h2 {
  /* padding-right: 20px; */
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 3.5rem !important;
  font-weight: 700;
  margin-top: 15px;
}

.left-column h5 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 7% !important;
}

.left-column h4 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 25% !important;
}

.left-column .btn {
  padding: 15px 100px;
  text-align: center;
  background-color: #337ab7;
  font-size: 1.2rem;
  margin-top: 8%;
  border-radius: 20px;
}

.right-column {
  background-color: #e9dcd3;
}

@media only screen and (max-width: 1366px) and (min-width: 1254px){
  .left-column .btn{
    font-size: 1rem !important;
  }
  .left-column h2{
    font-size: 3rem !important;
  }

}
@media only screen and (max-width: 1254px) and (min-width: 1100px){
  .left-column .btn{
    font-size: 0.6rem!important;
    font-weight: bold;
  }
  .left-column h2{
    font-size: 2.5rem !important;
  }
  .left-column h5{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 1054px){
  .left-column .btn{
    font-size: 0.6rem!important;
    font-weight: bold;
    /* padding: 15px 50px; */
  }
  .left-column h2{
    font-size: 2.5rem !important;
  }
  .left-column h5{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1054px) and (min-width: 800px){
  .left-column .btn{
    font-size: 0.6rem!important;
    font-weight: bold;
    padding: 15px 50px;
  }
  .left-column h2{
    font-size: 2rem !important;
  }
  .left-column h5{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 700px){
  .left-column .btn{
    font-size: 0.7rem!important;
    font-weight: bold;
    padding: 15px 20px;
  }
  .left-column h2{
    font-size: 1.5rem !important;
  }
  .left-column h5{
    font-size: 0.8rem;
  }
  .left-column h4{
    font-size: 1.1rem;
  }
  .right-column img{
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 700px) and (min-width: 600px){
  .left-column .btn{
    font-size: 0.7rem!important;
    font-weight: bold;
    padding: 15px 20px;
  }
  .left-column h2{
    font-size: 1.5rem !important;
  }
  .left-column h5{
    font-size: 0.8rem;
  }
  .left-column h4{
    font-size: 1.1rem;
  }
  .right-column img{
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) and (min-width: 500px){
  .left-column .btn{
    font-size: 1.5rem!important;
   
    padding: 15px 100px;
  }
  .left-column h2{
    font-size: 2.3rem !important;
  }
  .left-column h5{
    font-size: 1.5rem;
  }
  .left-column h4{
    font-size: 1.1rem;
    margin-top: -0% !important;
  }
 
  .left-column{
    width: 100%;
  }
}
@media only screen and (max-width: 500px) and (min-width: 480px){
  .left-column .btn{
    font-size: 1.5rem!important;
   
    padding: 15px 100px;
  }
  .left-column h2{
    font-size: 2rem !important;
  }
  .left-column h5{
    font-size: 1.5rem;
  }
  .left-column h4{
    font-size: 1.1rem;
    margin-top: -0% !important;
  }
 
  .left-column{
    width: 100%;
  }
}
/* ==================== section 3 =================================== */
.responsive-section {
  background-color: white;
  color: black;
  padding: 50px;
}

.image-box h3 {
  color: black;
  font-size: 1.3rem;
  text-align: left;
}

.responsive-section h1 {
  text-align: center;
  margin-bottom: 30px;
}

.image-box p {
  color: black;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.box-p {
  text-align: left !important;
}

.image-box {
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
  /* border: 1px solid #ddd; */
}

/* ========================= section 4 =================================== */
.circle-section {
  background-color: white;
  color: black;
  padding: 50px;
}

.circle-section h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 10%;
}

.testimonial {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial .testimonial-content1 {
  background-color: #33c5b9;
  border-radius: 50%;
  width: 370px;
  height: 370px;
  margin: 0 auto;
  padding: 50px;
  position: absolute;
  margin-top: 10%;
 z-index: 1;}

.testimonial .testimonial-content2 {
  background-color: #ff8596;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  box-shadow: 1px solid #ff8596;
  margin-top: 40%;
  right: 20%;

}

.testimonial .testimonial-content3 {
  background-color: #ffe46d;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 50px;
}

.testimonial .testimonial-content1 h5 {
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.testimonial .testimonial-content3 h5 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
}

@media only screen and (max-width: 1399px) and (min-width: 1200px){
  .testimonial .testimonial-content1{
    right: 68% !important;
  }
  .testimonial .testimonial-content2 {
    margin-top: 60%;
    right: 30%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1000px){
  .testimonial .testimonial-content1{
    right: 68% !important;
    width: 320px;
  height: 320px;
  }
  .testimonial .testimonial-content2 {
    margin-top: 80%;
    right: 40%;
    width: 450px;
  height: 450px;
  }
  .testimonial .testimonial-content3{
    width: 370px;
    height: 370px;
  }
  
}
@media only screen and (max-width: 1000px) and (min-width: 1045px){
  .testimonial .testimonial-content1{
    right: 65% !important;
    width: 320px;
  height: 320px;
  }
  .testimonial .testimonial-content2 {
    margin-top: 100%;
    right: 70%;
    width: 400px;
  height: 400px;
  
  }
  .testimonial .testimonial-content3{
    width: 350px;
    height: 350px;
  }
  .testimonial .testimonial-content2 h5{
    margin-top: -5%;
    font-size: 20px;
  }
 
  .testimonial .testimonial-content3 h5{
    font-size: 15px !important;
  }

}
@media only screen and (max-width: 1045px) and (min-width: 900px){
  .testimonial .testimonial-content1{
    right: 65% !important;
    width: 310px;
  height: 310px;
  }
  .testimonial .testimonial-content2 {
    margin-top: 100%;
    right: 70%;
    width: 400px;
  height: 400px;
  
  }
  .testimonial .testimonial-content3{
    width: 330px;
    height: 330px;
  }
  .testimonial .testimonial-content2 h5{
    margin-top: -5%;
    font-size: 20px;
  }
 
  .testimonial .testimonial-content3 h5{
    font-size: 15px !important;
  }

}
@media only screen and (max-width: 900px) and (min-width: 885px){
  .testimonial .testimonial-content1{
    right: 62% !important;
    width: 310px;
  height: 310px;
  }
  .testimonial .testimonial-content2 {
    margin-top: 100%;
    right: 40%;
    width: 370px;
  height: 370px;
  
  }
  .testimonial .testimonial-content3{
    width: 330px;
    height: 330px;
  }
  .testimonial .testimonial-content3 h5{
    font-size: 15px !important;
  }
  .testimonial .testimonial-content2 h5{
    font-size: 17px !important;
  
  }
}
@media only screen and (max-width: 885px) and (min-width: 800px){
.testimonial-content1 img{
  margin-top: -20% !important;
}
  .testimonial .testimonial-content1{
    right: 56% !important;
    width: 300px;
  height: 300px;
  }
  .testimonial .testimonial-content2 {
    margin-top: 150%;
    right: 40%;
    width: 370px;
  height: 370px;
  
  }
  .testimonial .testimonial-content3{
    width: 320px;
    height: 320px;
 
  }
  .testimonial .testimonial-content3 h5{
    font-size: 15px !important;
  }
  .testimonial .testimonial-content2 h5{
    font-size: 17px !important;
  
  }
}
@media only screen and (max-width: 800px) and (min-width: 767px){
  .testimonial .testimonial-content1{
    right: 62% !important;
    width: 300px;
  height: 300px;
  }
  .testimonial .testimonial-content2 {
    margin-top: 100%;
    right: 40%;
    width: 370px;
  height: 370px;
  
  }
  .testimonial .testimonial-content3{
    width: 350px;
    height: 350px;
  }
   .testimonial .testimonial-content1 h5{
    font-size: 15px !important;
  }
  .testimonial .testimonial-content3 h5{
    font-size: 15px !important;
  }
  .testimonial .testimonial-content2 h5{
    font-size: 17px !important;
  
  }
}
@media only screen and (max-width: 767px) and (min-width: 600px){
  .circle-section h1{
    font-size: 30px !important;
  }
  .testimonial .testimonial-content1{
  
    width: 370px;
  height: 370px;
  }
  .testimonial .testimonial-content2 {
    margin-top:110%;
    right: -3%;
    width: 420px;
  height: 420px;
  
  }
  .testimonial .testimonial-content3{
    width: 400px;
    height: 400px;
  }
  .card-btn1 .btn {
    display: none;
  }
}
@media only screen and (max-width: 600px) and (min-width: 480px){
  .circle-section h1{
    font-size: 30px !important;
  }
  .testimonial .testimonial-content1{
  
    width: 370px;
  height: 370px;
  }
  .testimonial .testimonial-content2 {
    margin-top:110%;
    right: -3%;
    width: 420px;
  height: 420px;
  
  }
  .testimonial .testimonial-content3{
    width: 400px;
    height: 400px;
  }
  .card-btn1 .btn {
    display: none;
  }
}

/* ============================== section 5 =================================== */
.section {
  background-color: white;
  color: black;
  padding: 50px;
}

.section h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #337ab7;
  font-weight: 500;
  font-size: 1.8rem;
}

.card {
  margin-bottom: 30px;
  border: 2px solid rgb(164, 163, 163);
}

.card-text {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 600;
}

.card-text1 {
  margin-bottom: 15%;
  font-size: 1rem;
  font-weight: 500;
}

.card-text2 {
  /* margin-bottom: 15%; */
  font-size: 1rem;
  font-weight: 500;
}

.card-title {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 700 !important;
}

.card-btn {
  text-align: center;
  position: absolute;
  top: 95%;
  left: 35%;
}

.card-btn1 {
  text-align: center;
  position: absolute;
  top: 475%;
  left: 73%;
}

.card-para {
  color: white;
  background-color: rgb(222, 13, 48);
  font-size: 13px;
  font-weight: 500;
  margin-top: -16px;
  text-align: center;
}

.card1 {
  margin-bottom: 30px;
  border: 5px solid rgb(5, 5, 5);
}

.card-btn .btn {
  padding: 5px 30px;
  text-align: center;
  background-color: #337ab7;
  font-size: 1rem;
  margin-top: -6%;
  border-radius: 15px;
}

.card-btn1 .btn {
  padding: 5px 30px;
  text-align: center;
  background-color: #337ab7;
  font-size: 1rem;
  margin-top: 68%;
  border-radius: 15px;
}

.compaign-para {
  background-color: #1a64ed;
  width: 85%;
  text-align: center;
  margin-left: 10%;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 1400px) and (min-width: 1200px){
  .card-text1{
    margin-bottom: 25% ;
  }
   .card-text2{
    margin-bottom: 11%;
  }
  .compaign-para{
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1000px){
.card-text1{
  margin-bottom: 45%;
}
.compaign-para{
  font-size: 11px !important;
}
}
@media only screen and (max-width: 1000px) and (min-width: 900px){
  .card-text1{
    margin-bottom: 45%;
  }
  .compaign-para{
    font-size: 11px !important;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px){
  .card-text1{
    margin-bottom: 100% !important;
  }
  .campaign-headig{
    font-size:2rem !important;
  }
  .card-btn .btn {
    padding: 5px 10px;
    text-align: right;
  
    font-size: 1rem;
    margin-top: 03%;
    border-radius: 15px;
  }
}

/* ==================== section 6 =============================== */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: black;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.para-back {
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.table-container {
  margin-top: 5% !important;
}

.include-para {
  color: black;
  font-size: 15px;
  font-weight: 600;
}

.fa-check {
  font-weight: bold;
  font-size: xx-large;
  margin-top: 50%;
}

tr th {
  font-size: 1.5rem;
  color: #080808 !important;
}

/* ============================ section 7 ============================ */
.section1 {
  background-color: white;
  color: black;
  padding: 30px;
  text-align: left;
}

.section1 h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.section1 p {
  font-size: 1.3rem;
  font-weight: 600;
  /* margin-bottom: 30px; */
}

.icon-list {
  list-style: none;
  padding: 4% 4%;

  display: flex;
  justify-content: center;
  background-color: black;

}

.icon-list li {
  margin: 10 10px;
}

/* =================================== section 8 =================================== */
.media-sec {
  background-color: white;
  color: black;
  padding: 20px;
}

.media-sec-image {
  text-align: center;
  margin-top: 15%;
}

.media-sec-image img {
  max-width: 100%;
  height: auto;
}

.media-sec-text h2 {
  color: black;
  font-size: 2.2rem !important;
  font-weight: 700;
}

.media-sec-text p {
  color: black;
  font-size: 18px !important;
  font-weight: 600;
}

.media-topp-para {
  margin-top: -2%;
}

/* ========================================== section 9 ======================================= */
.section-last {
  background-color: white;
  color: #e22146;
  padding: 80px;
  text-align: center;
  margin-top: 10% !important;
}

.section-last h1 {
  margin-bottom: 50px;
  font-size: 1.9rem;
  font-weight: 700;
}

.section-last1 {
  margin-bottom: 50px;
  font-size: 1.9rem !important;
  font-weight: 700;
  margin-bottom: 20% !important;
}
/* ============================= paymet =====================  */
.order{
  color: #080808;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 5% !important;
}
.billed-order{
  color: #080808;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 5% !important;
}
.para{
 margin-left: 14%;
 font-weight: 500;
 font-size: 1rem;
}
.total p{
  margin-left: 13%;
  font-size: 15px;
  font-weight: bold;
}
.payment_line {
  height: 3px !important;
width: 60%;
margin-left: 15%;
color: #060606;
}
.payment-heading{
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 14%;
}
.payment-condition{
  color: #060606;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 13%;
}
.payment-condition1 a{
  color: #060606;
  font-size: 1rem;
  font-weight: 400;
}
.payment-section1{
 border-top: solid 5px black;
 border-left: solid 3px black;
 border-right: solid 3px black;
 border-bottom: solid 5px black;
}